<h1>List#index</h1>
<p>Find me in app/views/list/index.html.erb</p>

<%= form_tag("/list/export.xls", method: "get") do %>
  <%= select "list", :batch, options_for_select(Student::BATCH), :class => 'select_field' %>
  <%= select "list", :dept , options_for_select(Student::DEPT), :class => 'select_field' %>
  <%= submit_tag("Export") %>
<% end %>

